// SASS Variables
// ----------------------------------------------------------------------------
$hsl_red:    hsl(359,85%,55%);
$hsl_blue:   hsl(199,71%,52%);
$hsl_cream:  hsl(48,79%,89%);

$hsl_L0:     hsl(0,0%,0%);
$hsl_L100:   hsl(0,0%,100%);


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';